

/*
 @font-face {
  font-family: 'Lateef1';
  src: url('../static/lateef-v17-arabic-regular.woff2') format("woff2");
}
*/

body {
  font-family: 'Raleway', serif;
}

.fancy {
  font-family: 'Nanum Myeongjo', serif;
}

a.anchor {
  text-decoration: none !important;
}

.annotation {
  border-left: 1px solid #ccc;
}

.annotation:last-child {
  border-left: none;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.ar {
  font-family: 'Lateef';
}

.right {
  text-align: right;
}

.left {
  text-align: right;
}


.en {
  direction: ltr;
  font-family: serif;
}

.first {
text-align: left;
}

.clickableword {
  cursor: pointer;
}

.dropdown-menu {
overflow: auto;
height: 400px
}

.dropdown-trigger {
  cursor: pointer; 
}

.bottom {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 50vh;
  overflow: auto;
}

.message-header {
  position: sticky;
  top: 0;
  z-index: 1000;
}


td {
  padding: 4px;
}

td.word {
  border: 1px solid grey;
  padding: 24px;
  margin: 5px;
  font-size: 28px;
}

.token {
  font-size: 4em;
  vertical-align: top;
}

.is-large {
  font-size: 4em;
}

.is-medium {
  font-size: 3em;
}

.bismillah {
  font-size: 2rem;
}

.tdesc, .at {
  font-size: 1.3em;
  font-family: 'Lateef';
}


.token.P {
  color: mediumblue;
}

.token.DET {
  color: grey;
}

.token.PN {
  color: green;
}

.token.ADJ {
  color: maroon;
}

.token.N {
  color: brown;
}

.token.V {
  color: purple;
}

.token.PRON {
  color: cadetblue;
}

.green {
  color: #00ff00;
}

.red {
  color: #ff0000;
}
