

@font-face {
  font-family: 'Lateef1';
  src: url('../static/lateef-v17-arabic-regular.woff2') format("woff2");
}

a.anchor {
  text-decoration: none !important;
}

.annotation {
  border-left: 1px solid #ccc;
}

.annotation:last-child {
  border-left: none;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.ar {
  font-family: 'Lateef1';
}

.right {
  text-align: right;
}


.en {
  direction: ltr;
  font-family: serif;
}

.first {
font-family: sans-serif;
text-align: left;
}

td {
  padding: 4px;
}

td.word {
  border: 1px solid grey;
  padding: 24px;
  margin: 5px;
  font-size: 28px;
}

.token {
  font-size: 4rem;
}

.bismillah {
  font-size: 2rem;
}

.tdesc, .at {
  font-size: 36px;
  font-family: 'Lateef1';
}


.token.P {
  color: mediumblue;
}

.token.DET {
  color: grey;
}

.token.PN {
  color: green;
}

.token.ADJ {
  color: maroon;
}

.token.N {
  color: brown;
}

.token.V {
  color: purple;
}

.token.PRON {
  color: cadetblue;
}

.green {
  color: #00ff00;
}

.red {
  color: #ff0000;
}
