{%- macro token(t) -%}
<span class="token {{ t.tag }}" direction="rtl">{{ t.arabic }}</span>
{%- endmacro -%}

{% macro tokeni(t) -%}
<table>

  <tr>
    <td>
      Token
    </td>
    <td>
      Type
    </td>
  {% if t.root_arabic %}
    <td>
      Root
    </td>
  {% endif %}
  </tr>


  <tr>
    <td class="tdesc">
{{ t.arabic }}
    </td>
    <td class="en">
{{ t.tag }}
    </td>
  {% if t.root_arabic %}
    <td class="tdesc">
{{ t.root_arabic }}
    </td>
  {% endif %}
  </tr>

</table>
{% endmacro %}

{% macro word(w) %}
  <span class="word">
    <div class="tokens">
  {%- for t in w.tokens -%}
    {{- token(t) -}}
  {%- endfor -%}
    </div>

    <div class="en">
      {{ w.transliteration }}
    </div>

    <div class="en">
      {{ w.translation }}
    </div>

    <div>
  {%- for t in w.tokens -%}
    {{- tokeni(t) -}}
  {%- endfor -%}
    </div>

    <div class="en">
      {{ w.description|safe }}
    </div>

  </span>
{% endmacro %}

{% macro verse(v) %}
  {% for w in v.words %}
  <td class="word">{{ word(w) }}</td>
  {% endfor %}
{% endmacro %}


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.render_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        {{ page.render_title }}
      </h1>
      <p class="subtitle">
        {{ page.subtitle }}
      </p>

    <div>

      <table class="ar">


    {% block body %}
    {% endblock %}
    
    {% for item in content %}
    <tr>
      {{ verse(item) }}
    </tr>
    {% endfor %}

      </table>

    </div>
    </div>

  </section>
  </body>
</html>
