
{% extends "base.html" %}


{% block body %}


<h3>List of chapters</h3>
<ul>
{% for ch in chapters %}
  <li>
    <a href="{{ url_for('chapter', chapter_id=ch.id) }}">{{ ch.name }}</a>
  </li>
{% endfor %}
</ul>


{% endblock %}
