
{% extends "base.html" %}


{% block body %}


<h3>List of roots</h3>
<ul>
{% for r in roots %}
  <li>
    <a href="{{ url_for('root', buckwalter=r.buckwalter) }}" class="ar token">{{ r.arabic }}</a>
    {{ r.simple }}
  </li>
{% endfor %}
</ul>


{% endblock %}
