
{% extends "base.html" %}


{% block body %}


<h3>List of tokens with a root {{ root.arabic }} {{ root.simple }}</h3>
<ul>
{% for t in root.tokens %}
  <li class="notification is-alert is-light">

    <div class="notification is-primary is-light is-pulled-left">
    <div class="is-size-4">
    {{ t.word.transliteration }}
    </div>
    <div class="is-size-3">
    {{ t.word.translation }}
    </div>
    </div>

    <div class="ar right">
    {% for wt in t.word.tokens -%}
    <span class="ar token {% if wt.buckwalter == t.buckwalter %}N{% endif %}">{{ wt.arabic }}</span>
    {%- endfor %}
    </div>
    <div>

    <div class="right is-size-4 is-link">
    <a class="" href="{{ url_for('chapter', chapter_id=t.word.verse.chapter.id) }}#a{{ t.word.verse.number }}w{{ t.word.number }}">
      {{ t.word.verse.chapter.name }} ayah {{ t.word.verse.number }} word {{ t.word.number }}</a>
    </div>
    </div>
  </li>
{% endfor %}
</ul>


{% endblock %}
